@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Changa', 'Roboto', sans-serif;
}

button {
    font-family: 'Changa', 'Roboto', sans-serif;
    font-size: 18px;
}

#title {
    display: flex;
    font-size: 36px;
}

#calcOutline {
    border: 2px solid;
    border-radius: 16px;
    display: flex;
    height: 50vh;
    width: 50vw;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    overflow: hidden;
}

.display {
    border: solid 0.1px; 
    border-radius: 8px;
    height: 8vh;
    margin-bottom: 4px;
    font-size: 36px;
    text-align: right;
    text-align: top;
    overflow: scroll;
}

#squaresContainer {
    display: flex;
    gap: 8px;
    flex: 3;
}

#zeroContainer {
    display: flex;
    flex: 1;
}

#numberContainer {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 4px;
}

#operatorContainer {
    display: flex;
    flex: 1;
}

.numberRow {
    display: flex;
    flex: 1;
    gap: 4px;
}

.operatorColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 30vh;
    gap: 4px;
}

.zeroRow {
    display: flex;
    gap: 4px;
    flex: 1;
}

.numberButton {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(214, 211, 219);
    flex: 1
}

.deci {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(214, 211, 219);
    flex: 1
}

.numberButton:hover {
    background-color: rgb(248, 236, 224);
}

.operatorButton {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(221, 224, 226);
    flex: 1;
}

.operatorButton:hover {
    background-color: rgb(248, 236, 224);
}

.equalsButton {
    border: solid 0.1px;
    box-sizing: border-box;
    flex: 3;
    border-radius: 8px;
    background-color: rgb(221, 224, 226);
}

.equalsButton:hover {
    background-color: rgb(248, 236, 224);
}



