body {
    margin: 0;
    padding: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#calcOutline {
    border: 2px solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
}

#squaresContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.numberRow {
    display: flex;
    gap: 4px;
}

.operatorColumn {
    display: flex;
    flex-direction: column;
    gap: 2.8px;
}

.zeroRow {
    display: flex;
    gap: 4px;
}

#numberContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.numberButton {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(214, 211, 219);
}

.numberButton:hover {
    background-color: rgb(248, 236, 224);
}

.operatorButton {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(221, 224, 226);
}

.operatorButton:hover {
    background-color: rgb(248, 236, 224);
}

.equalsButton {
    border: solid 0.1px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgb(221, 224, 226);
}

.equalsButton:hover {
    background-color: rgb(248, 236, 224);
}

.display {
    border: solid 0.1px; 
    border-radius: 8px;
}